<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Catel.Resharper.R10\packages.config" />
  <repository path="..\src\Catel.Resharper.R81\packages.config" />
  <repository path="..\src\Catel.Resharper.R82\packages.config" />
  <repository path="..\src\Catel.Resharper.R90\packages.config" />
  <repository path="..\src\Catel.Resharper.R91\packages.config" />
  <repository path="..\src\Catel.Resharper.R92\packages.config" />
</repositories>